:root{
--black:#000;
--white:#fff;
--off-white:#F8FAFC;
--background:#F8FAFC;
--primary-red:#c2414f;
--secondary-blue:#005A8F;
--footer:#002439;
--border:#e2e8f0;
--container:786px;
}
/*font weight : regular for content and bold for main heading font size for meeple one is 72 px
and 36px for the rest of the headings and subheadings should be 18 px , paragraph in blue is 36px 
and rest of the header fonts should be 20px*/
/* BODY */
body{
font-family:Arial,sans-serif;
background:var(--background);
color:var(--black);
line-height:1.5;
}
.container{
max-width:var(--container);
margin:auto;
padding:0 1.5rem;
}
/* HEADER */
.main-header{
background:var(--off-white);
padding:1rem 0;
}
.header-flex{
display:flex;
justify-content:space-between;
align-items:center;
}
.nav-list{
display:flex;
gap:2rem;
}
.btn-signin{
background:var(--primary-red);
color:var(--white);
padding:0.5rem 1.375rem;
font-weight:normal;
}
/* HERO */
.hero-section{
background:var(--secondary-blue);
padding: 5rem 0;
}
.hero-flex{
display:flex;
gap:3.75rem;
}
.hero-title{
flex:1;
}
.hero-title h1{
font-size: 4.5rem;
font-weight:bold;
line-height:100%;
color:#e5e7eb;
}
.hero-content{
flex:1;
font-size:1.125rem;
line-height:150%;
color:#e5e7eb;
max-width:32.5rem;
}
.btn-location{
display:inline-block;
margin-top:1.25rem;
border:0.0625rem solid #e5e7eb;
padding:0.625rem 1.125rem;
color:#e5e7eb;
}
/* MAIN */
.main-layout{
display:flex;
gap:2rem;
padding:2.5rem 0;
}
.content-area{
flex:3;
display:flex;
flex-direction:column;
gap:1.5rem;
font-size: 0.75rem;
}
.sidebar{
flex:1;
}
/* CARD */
.card{
background:var(--white);
border:0.625rem solid var(--border);
}
.banner-img{
width:100%;
}
.card-body{
padding:1.625rem;
}
.mini-card{
padding:1.5rem;
}
/*UPCOMING CARD PERFECT */
.card-header-flex{
display:flex;
justify-content:space-between;
align-items:flex-start;
gap:1.25rem;
}
/*HEADING */
h2{
font-size:1.625rem;
font-weight:normal;
text-transform:uppercase;
line-height:130%;
margin-bottom:0.5rem;
}
/*PARAGRAPH */
.card-body p{
font-size:1rem;
line-height:150%;
max-width:32.5rem;
}
/*REGISTER LINK */
.link{
color:var(--primary-red);
font-weight:normal;
text-decoration:underline;
white-space:nowrap;
margin-top:0.375rem;
}
/*SIDEBAR */
.sidebar-card{
background:var(--off-white);
padding:1.625rem;
text-align:center;
}
.sidebar-card h3{
font-size:1.25rem;
font-weight:normal;
margin-bottom:1.25rem;
text-transform:uppercase;
}
.game-item{
margin-top:1.5rem;
}
.game-item img{
max-width:100%;
margin:auto auto 10px;
}
.game-item p{
font-size:1rem;
}
/*FOOTER */
.main-footer{
background:var(--footer);
color:var(--white);
padding:2.5rem 0;
font-size:0.875rem;
}
.footer-flex{
display:flex;
gap:3.75rem;
line-height:170%;
}
.footer-flex div{
flex:1;
}
/*MOBILE */
@media(max-width:786px){
.hero-flex,
.main-layout,
.footer-flex{
flex-direction:column;
}
.hero-title h1{
font-size:2.5rem;
}
}